---
const supabaseUrl = import.meta.env.PUBLIC_SUPABASE_URL;

interface Ruta {
  id: string;
  titulo: string;
  destino: string;
  distancia: number;
  dificultad: string;
  alt_max: number;
  portada: string;
}

const { rutas = [] } = Astro.props as { rutas: Ruta[] };
---

<section>
    <h2 class="text-4xl text-center mt-20 lg:my-20 font-bold text-page-400">Rutas</h2>
    <!-- <Buscador class="h-10 w-48 md:w-96" /> -->
    <section class="flex flex-wrap justify-center mx-4 gap-8 mt-24">
        {
            rutas.map(ruta => {
                const { id, portada, titulo, destino, distancia, dificultad, alt_max } = ruta
                let difucultadPunto = "/PuntosVerde.webp"
                if (dificultad === 'Moderada') {
                    difucultadPunto = "/PuntosNaranja.webp"
                } else if (dificultad === 'Difícil') {
                    difucultadPunto = "/PuntosRojo.webp"
                }

                return (
                    <a href={`/rutas/${id}`} class="max-w-96 h-fit rounded-xl bg-page-500 border-page-400 border-dashed border-2 hover:scale-105 transition text-black">
                        <img class="w-full h-52 rounded-t-xl top-0 object-cover" src={`${supabaseUrl}/storage/v1/object/public/rutas-imagenes/${id}/${portada}`} alt={`Imagen de ${titulo}`} loading="lazy" />
                        <div class="m-4">
                            <h1 class="text-xl font-bold mt-8 mb-4">{titulo}</h1>
                            <span class="flex items-center font-semibold mb-4 w-fit px-2 py-1 rounded-xl bg-page-200"><img class="size-5 mr-2" src="/icons/ubicacion.svg" alt="">{destino}</span>
                            <section class="flex items-center justify-between my-4">
                                <span class="flex"><img class="size-5 mr-1" src="/icons/ubicacion.svg" alt=""> Distancia: <span class="font-semibold flex ml-1">{distancia} Km</span></span>
                                <span class="flex items-center"><img class="size-8 mr-2" src="/icons/dificultad.svg" alt=""><img class="h-5" src={difucultadPunto} alt=""></span>
                            </section>
                            <span class="flex"><img class="size-6 mr-1" src="/icons/desnivel.svg" alt="">Desnivel: <span class="font-semibold ml-1">{alt_max} m</span></span>
                        </div>
                    </a>
                )
            })
        }
    </section>
</section>