---
import { getCollection } from "astro:content";
const rutas = await getCollection('rutas');
const rutasDestacadas = rutas.slice(0, 3);
---
<section class="mt-28">
    
    <h2 class="text-3xl text-center mb-20 font-bold text-lime-900">Rutas Destacadas</h2>
    <div class="relative w-full text-center">
        <a href="/rutas" class="underline hover:text-gray-700 -mt-30 md:absolute right-12 -top-28 transition">Ver mas rutas ⇾</a>
    </div>
    <section class="flex text-pretty flex-wrap justify-center gap-8 mt-12 mb-16 mx-4">
        {
            rutasDestacadas.map(ruta => {
                const { slug, data } = ruta
                const { url, portada, titulo, destino, color, distancia, dificultad, alt_max } = data

                return (
                    <article class="w-96 h-fit rounded-xl bg-white">
                        <img class="w-full h-52 rounded-t-xl top-0 object-cover" src={portada} alt={`Imagen de ${titulo}`}>
                        <div class="m-4">
                            <h1 class="text-xl font-bold mt-8 mb-4">{titulo}</h1>
                            <span class="flex items-center font-semibold mb-4 w-fit px-2 py-1 rounded-xl bg-page-200"><img class="size-5 mr-2" src="/icons/ubicacion.svg" alt="">{destino}</span>
                            <section class="flex items-center justify-between my-4">
                                <span class=' font-semibold'>Dificultad: <span class={color}>{dificultad}</span></span>
                                <a href={url} class="bg-page-300 font-semibold px-4 py-2 rounded-xl hover:scale-110 transition">Ver Detalles</a>
                            </section>
                        </div>
                    </article>
                )
            })
        }
    </section>
</section>
