---
import { getCollection, render } from "astro:content";
import BtnRutas from "../../components/BtnRutas.astro";
import Layout from "../../layouts/Layout.astro";
import MiniHeader from "../../components/MiniHeader.astro";

export async function getStaticPaths() {
    const rutas = await getCollection('rutas')
    
    return rutas.map((ruta) => ({
        params: { id: ruta.slug },
        props: { ruta }
    }))
}

const { ruta } = Astro.props
const { data } = ruta
const { titulo, destino, portada, distancia, desnivel, alt_max, alt_min, gpx, wikiloc, dificultad, color, bgcolor, mapa_img, desnivel_img } = data

const { Content } = await render(ruta)
---
<Layout title={titulo}>
    <title>Ruta en bicicleta: {titulo}</title>
    <meta name="description" content={`Descubre la ruta en bicicleta ${titulo}. Una actividad perfecta para explorar ${destino} con una distancia de ${distancia} km y un desnivel de ${desnivel} m.`} />
    <meta name="keywords" content="rutas en bicicleta, rutas por Catalunya, rutas familiares, ciclismo, turismo en bicicleta, {destino}, {titulo}" />
    <meta property="og:title" content={`Ruta en bicicleta: ${titulo}`} />
    <meta property="og:description" content={`Explora la ruta ${titulo} con una distancia de ${distancia} km en ${destino}.`} />
    <meta property="og:image" content={portada} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={`Ruta en bicicleta: ${titulo}`} />
    <meta name="twitter:description" content={`Explora ${titulo}, una ruta ideal para el ciclismo en ${destino}.`} />
    <meta name="twitter:image" content={portada} />
    <MiniHeader />
    <BtnRutas />
    <main class="mx-auto sm:rounded-xl my-6 max-w-[1200px] bg-page-300 bg-opacity-50">
        <img loading="lazy" class="w-full h-96 md:h-[600px] sm:rounded-t-xl top-0 object-cover" src={portada} alt=`Fotografía de ${titulo}`>
        <div class="mx-8">
            <div class="flex flex-col sm:flex-row items-start sm:items-center gap-4">
                <h1 class="font-bold text-2xl sm:text-3xl my-4">{titulo}</h1>
                <span class=`${bgcolor} rounded-2xl h-10 p-2 font-medium`>{dificultad}</span>
            </div>
            <section class="mx-0 sm:mx-8 bg-white bg-opacity-40 p-4 flex flex-wrap gap-4 rounded-xl my-2 sm:my-6 border-black border-opacity-30 border-2">
                <span class="flex items-center gap-1 mx-auto font-medium"><img class="size-7" src="/icons/ubicacion.svg"><span class="flex flex-col sm:mx-2">Destino<b>{destino}</b></span></span>
                <span class="flex gap-1 items-center mx-auto font-medium"><img class="size-7" src="/icons/distancia.svg"><span class="flex flex-col sm:mx-2">Distancia<b>{distancia}</b></span></span>
                <span class="flex gap-1 items-center mx-auto font-medium"><img class="size-7" src="/icons/desnivel.svg"><span class="flex flex-col sm:mx-2">Desnivel<b>{desnivel}</b></span></span>
                <span class="flex gap-1 items-center mx-auto font-medium"><img class="size-7" src="/icons/max.svg"><span class="flex flex-col sm:mx-2">Altitud Máx<b>{alt_max}</b></span></span>
                <span class="flex gap-1 items-center mx-auto font-medium"><img class="size-7" src="/icons/min.svg"><span class="flex flex-col sm:mx-2">Altitud Mín<b>{alt_min}</b></span></span>
            </section>
            <section class="flex flex-row gap-4 items-center text-sm sm:text-lg mt-4 sm:my-0">
                <a href=`Rutas/${gpx}` class="bg-[#141414] text-white px-4 py-2 rounded-xl hover:bg-black transition" download={gpx}>Descargar GPX</a>
                <a href={wikiloc} class="bg-green-300 rounded-xl py-2 px-4 hover:bg-page-300 transition" target="_blank">Ver en <span class="text-green-900 font-bold">Wikiloc</span></a>
            </section>
            <p class="mt-8"><Content /></p>
            <h2 class="font-semibold text-2xl my-6">Mapa de la Ruta</h2>
        </div>
        <img loading="lazy" class="sm:rounded-b-xl" src={mapa_img} alt=`Mapa de la ruta de ${titulo}`>
        <h2 class="mx-8 font-semibold text-2xl my-6">Desnivel de la Ruta</h2>
        <img loading="lazy" class="-mb-14 sm:mb-0 sm:rounded-b-xl w-full" src={desnivel_img} alt=`Desnivel de la ruta de ${titulo}`>
    </main>
</Layout>