---
import { getCollection, render } from "astro:content";
import BtnRutas from "../../components/BtnRutas.astro";
import Layout from "../../layouts/Layout.astro";
import MiniHeader from "../../components/MiniHeader.astro";

export async function getStaticPaths() {
    const rutas = await getCollection('rutas')
    
    return rutas.map((ruta) => ({
        params: { id: ruta.slug },
        props: { ruta }
    }))
}

const { ruta } = Astro.props
const { data } = ruta
const { titulo, destino, portada, distancia, desnivel, alt_max, alt_min, dificultad, color, bgcolor, mapa_img, desnivel_img } = data

const { Content } = await render(ruta)
---
<Layout title={titulo}>
    <MiniHeader />
    <BtnRutas />
    <main class="mx-auto rounded-xl my-6 max-w-[1200px] bg-page-300 bg-opacity-50">
        <img class="w-full h-[600px] rounded-t-xl top-0 object-cover" src={portada} alt=`Fotografía de ${titulo}`>
        <div class="mx-8">
            <h1 class="font-bold text-3xl my-4">{titulo}</h1>
            <div class="flex justify-around items-center font-medium my-10">
                <span class="flex gap-1 items-center"><img class="size-7" src="/icons/ubicacion.svg">{destino}</span>
                <span class="flex gap-1 items-center"><img class="size-7" src="/icons/distancia.svg">{distancia}</span>
                <span class="flex gap-1 items-center"><img class="size-7" src="/icons/desnivel.svg">{desnivel}</span>
                <span class="flex gap-1 items-center"><img class="size-7" src="/icons/max.svg">{alt_max}</span>
                <span class="flex gap-1 items-center"><img class="size-7" src="/icons/min.svg">{alt_min}</span>
            </div>
            <span class=`${bgcolor} rounded-2xl p-2 font-medium`>{dificultad}</span>
            <p class="mt-8"><Content /></p>
            <h2 class="font-semibold text-2xl my-6">Mapa de la Ruta</h2>
        </div>
        <img class="rounded-b-xl" src={mapa_img} alt=`Mapa de la ruta de ${titulo}`>
    </main>
</Layout>