---
import { getCollection, render } from "astro:content";
import { getRutaImages } from "../../utils/getRutaImages"; // importa tu función
import BtnRutas from "../../components/BtnRutas.astro";
import Layout from "../../layouts/Layout.astro";
import MiniHeader from "../../components/MiniHeader.astro";

export async function getStaticPaths() {
  const rutas = await getCollection('rutas');

  return rutas.map((ruta) => {
    const titulo = ruta.data.titulo;
    const images = getRutaImages(titulo); // obtenemos imágenes con el título como carpeta

    return {
      params: { id: ruta.slug },
      props: { ruta, images },
    };
  });
}

const { ruta, images } = Astro.props;
const { data } = ruta;
const { titulo, destino, portada, distancia, desnivel, alt_max, alt_min, gpx, wikiloc, dificultad, color, bgcolor, mapa_img, desnivel_img } = data;

const { Content } = await render(ruta);
console.log(images)
---

<Layout title={titulo}>
    <title>Ruta en bicicleta: {titulo}</title>
    <meta name="description" content={`Descubre la ruta en bicicleta ${titulo}. Una actividad perfecta para explorar ${destino} con una distancia de ${distancia} km y un desnivel de ${desnivel} m.`} />
    <meta name="keywords" content="rutas en bicicleta, rutas por Catalunya, rutas familiares, ciclismo, turismo en bicicleta, {destino}, {titulo}" />
    <meta property="og:title" content={`Ruta en bicicleta: ${titulo}`} />
    <meta property="og:description" content={`Explora la ruta ${titulo} con una distancia de ${distancia} km en ${destino}.`} />
    <meta property="og:image" content={portada} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={`Ruta en bicicleta: ${titulo}`} />
    <meta name="twitter:description" content={`Explora ${titulo}, una ruta ideal para el ciclismo en ${destino}.`} />
    <meta name="twitter:image" content={portada} />
    <MiniHeader />
    <BtnRutas />
    <main class="mx-auto sm:rounded-xl -mt-6 -mb-12 md:mt-6 md:mb-6 pb-8 max-w-[1200px] bg-page-300/30 bg-opacity-50">
        <img loading="lazy" class="w-full h-96 md:h-[600px] sm:rounded-t-xl top-0 object-cover" src={portada} alt=`Fotografía de ${titulo}`>
        <div class="mx-8">
            <div class="flex flex-col sm:flex-row items-start sm:items-center gap-4">
                <h1 class="font-bold text-2xl sm:text-3xl my-4">{titulo}</h1>
                <span class=`${bgcolor} rounded-2xl h-10 p-2 font-medium`>{dificultad}</span>
            </div>
            <section class="mx-0 sm:mx-8 bg-white bg-opacity-40 p-4 flex flex-wrap gap-4 rounded-xl my-2 sm:my-6 border-black border-opacity-30 border-2">
                <span class="flex items-center gap-1 mx-auto font-medium"><img class="size-7" src="/icons/ubicacion.svg"><span class="flex flex-col sm:mx-2">Destino<b>{destino}</b></span></span>
                <span class="flex gap-1 items-center mx-auto font-medium"><img class="size-7" src="/icons/distancia.svg"><span class="flex flex-col sm:mx-2">Distancia<b>{distancia}</b></span></span>
                <span class="flex gap-1 items-center mx-auto font-medium"><img class="size-7" src="/icons/desnivel.svg"><span class="flex flex-col sm:mx-2">Desnivel<b>{desnivel}</b></span></span>
                <span class="flex gap-1 items-center mx-auto font-medium"><img class="size-7" src="/icons/max.svg"><span class="flex flex-col sm:mx-2">Altitud Máx<b>{alt_max}</b></span></span>
                <span class="flex gap-1 items-center mx-auto font-medium"><img class="size-7" src="/icons/min.svg"><span class="flex flex-col sm:mx-2">Altitud Mín<b>{alt_min}</b></span></span>
            </section>
            <section class="flex flex-row gap-4 items-center text-sm sm:text-lg mt-4 sm:my-0">
                <a href={`https://github.com/Bielis08/rutas-ciclofamily/blob/main/${gpx}`} class="bg-[#141414] text-white px-4 py-2 rounded-xl hover:bg-black transition flex" target="_blank" rel="noopener noreferrer">Descargar GPX</a>
                <a href={wikiloc} class="bg-green-300 rounded-xl py-2 px-4 hover:bg-page-300 transition" target="_blank">Ver en <span class="text-green-900 font-bold">Wikiloc</span></a>
            </section>
            <p class="mt-8"><Content /></p>
            <h2 class="font-semibold text-2xl my-6">Mapa de la Ruta</h2>
            <iframe class="mx-auto rounded-xl w-[75%] sm:w-[80%] md:w-[90%]" src=`https://gpx.studio/embed?options=%7B%22token%22%3A%22YOUR_MAPBOX_TOKEN%22%2C%22files%22%3A%5B%22https%3A%2F%2Fraw.githubusercontent.com%2FBielis08%2Frutas-ciclofamily%2Fmain%2F${gpx}%22%5D%2C%22basemap%22%3A%22openStreetMap%22%2C%22elevation%22%3A%7B%22fill%22%3A%22slope%22%7D%2C%22distanceMarkers%22%3Atrue%2C%22directionMarkers%22%3Atrue%2C%22theme%22%3A%22light%22%7D` width="100%" height="600px" frameborder="0" style="outline: none;"/>
            <h2 class="font-semibold text-2xl my-6">Fotos de la ruta</h2>
            {images.length > 0 ? (
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-4">
                {images.map((img) => (
                <a href={img} target="_blank" rel="noopener noreferrer">
                    <img
                    src={img}
                    alt={`Imagen de la ruta ${titulo}`}
                    class="rounded-xl object-cover w-full h-64 md:hover:scale-150 transition"
                    />
                </a>
                ))}
            </div>
            ) : (
            <p class="text-center text-lg text-gray-600 italic my-6">
                No hay fotos disponibles para esta ruta.
            </p>
            )}

        </div>
    </main>
</Layout>